@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Poppins, sans-serif;
    color: #5b5656;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    width: 100%;
}

h2 { 
    color: #fefae0;
    font-weight: 300;
    font-size:large;
}
/*navbar link stylings */

.fa-dog {
    margin-left: 15px;
}

.navbar {
    background-color: #7f5e3e;
    width: 100%;
}

#logo {
    float:left;
    font-size:200%;
    margin-left: 2rem;
    padding-top: 10px;
    color: #fefae0;
    letter-spacing: 0.15rem;
}

#menu {
    font-size: 110%;
    font-weight: 400;
    color: #fefae0;
    float: right;
    letter-spacing: 0.15rem;
    padding-top: 10px;
    padding-left: 0px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin: 0 2vw;
}

#menu a {
    color: #fefae0;
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #fefae0;
    background-color: #D4A373;
}

.active {
    border-bottom: 1px solid #fefae0;
}

/* footer stylings */

footer {
    height: auto;
    font-family: Poppins, sans-serif;
    color: #fefae0;
    background-color: #7f5e3e;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 0;
    overflow: hidden;
    
}

.socials {
    text-align: center;
    padding-left: 0;
}

.socials li {
    display: inline;
}

.socials i {
    font-size: 200%;
    margin: 1%;
    padding: 1%;
    color:#fefae0;
}

.fa-brands:hover {
    background-color: #fefae0;
    color: #7f5e3e;
}

/* hero image */

#hero-outer {
    height: 37.5rem;
    width: 100%;
    overflow:hidden;
    position: relative;
}

#hero-image {
    height: 37.5rem;
    width: 100%;
    background: url("../images/hero-image2.jpg") no-repeat center center;
    background-color:#fefae0;
}

#cover-text {
    text-align: center;
    background-color: #FAEDCD;
    opacity: 0.65;
    width:300px;
    height: auto;
    position: absolute;
    top: 15%;
    left: 25%;
    border-radius: 15px;
    transform: translate(-50%, -50%);
}

#cover-text, h2 {
    color:#7f5e3e;
    font-size: 130%;
    font-weight: 400;
}


/* home info */

#home-info {
    background-color: #E9EDC9;
    height: 750px;
    margin-bottom: 30px;
}

#home-info-header {
    text-align: center;
    padding-top: 15px;
    color: #73675c;
}

#hr-1{
    border-top: 1px solid #73675c;
}

#left-image-outer {
    padding-top: 0px;
    width: 33%;
    float: left;
    text-align:center;
    }

.left-image>img {
    border-radius: 20px;
    width: 75%;
    height: 550px;
    padding-bottom: 10px;
}

#right-image-outer {
    padding-top: 0px;
    width: 33%;
    float: right;
    text-align:center;
    }

.right-image>img {
    border-radius: 20px;
    width: 75%;
    height: 550px;
    padding-bottom: 10px;
}

#home-center {
    width: 33%;
    margin: 0 auto;
}

.info {
    text-align: center;
    padding-top: 30px;
    width:100%;
}

.info p {
    font-weight: 300;
}

.button {
    background-color: #7f5e3e;
    border: none;
    color: #fefae0;
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 5px;
    font-weight: 200;
}

.button:hover {
    background-color: #fefae0;
    color:#7f5e3e;
    border: 0 solid #5b5656;
}

.opening-hours {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
    font-weight:300;
}

#hours {
    list-style-type: none;
    text-align:center;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

/* about us */

.container-fluid {
    background-color: #fefae0;
    height: auto;
}

.col-4 {
    padding-top: 0px;
    width: 33%;
    float: left;
    text-align:center;
}

.left-card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:auto;
    border-radius: 20px;
    border: 5px solid #777
}

.right-card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:auto;
    border-radius: 20px;
    border: 5px solid #777
}

.right-card-body {
    margin: 0 auto;
}

.card-outer {
    height:450px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mid-card-title {
    font-size: 200%;
    color: #777777;
    padding-top: 10px;
    letter-spacing: 0.15rem;
}

#map {
    padding-bottom: 40px;
    margin: 0 auto;
    width: 100%;
}


/* icon styling for the about us page */

.fa-umbrella-beach {
    padding: 5px 5px;
}

.fa-lock {
    padding: 5px 5px;
}

/* Gallery */

.col-12 {
    padding: 0px;
}

#gallery-title {
    text-align:center;
    background-color: #fefae0;
    font-size: 200%;
    margin: 0 auto;
    padding: 30px 0px 30px;
    width: 100%;
}

#photos {
    clear:both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
    background-color:#fefae0;
}

#photos img {
    width:100%;
}

/* contact page */

.contact-image-outer {
    width: 100%;
    height: 450px;
}

#hero-image-contact {
    height: 450px;
    background: url("../images/hero-image-contact.jpg") no-repeat center center;
    width: 100%;
    background-size: cover;
}

.form-container {
    height: 700px;
    width: 100%;
    background-color: #fefae0;
    margin-bottom: 100px;
}

#form-title {
    text-align: center;
    font-size: 200%;
    margin: 5px;
    padding: 30px 0px 30px;
}

.contact-form {
    background-color: #7f5e3e;
    color:#E9EDC9;
    border-radius: 20px;
    width: 75%;
    margin: 0 auto;
    padding: 20px;
}

.submit-button {
    font-size: 25px;
    background-color: #fefae0;
    color:#7f5e3e;
}

.submit-button:hover {
    background-color: #D4A373;
    color: #fefae0;;
    font-size: 25px;
}


/* response page stylings */

.response-image-outer {
    width: 100%;
    height: 450px;
}

#hero-image-response {
    height: 450px;
    background: url("../images/response-image.jpg") no-repeat center center;
    width: 100%;
    background-size: cover;
}

/* media and responsiveness on tablet size */
@media screen and (max-width: 768px) {
    #menu {
        display:flex;
        justify-content: center;
        width: 100%;
    }

    #home-info {
        height: 100%;
    }

    #logo {
        margin: 0;
    }

    #about-us {
        width:100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    #right-image-outer, #left-image-outer {
        width:65%;
        float:left;
        padding: 0;
    }
    
    #photos {
        column-count: 3;
    }

    #gallery-title {
        text-align: center;
        margin: 0 auto;
        font-size: 18px;
    }

    .form-container{
        height:700px;
    }

    #form-title {
        font-size: 20px
    }

    }

/* media and responsiveness on mobile size */

    @media screen and (max-width: 375px) {

        #photos {
            column-count: 2;
        }

        #gallery-title {
            text-align: center;
            margin: 0 auto;
            font-size: 16px;
        }

        #form-title {
            font-size: 16px
        }
    } 
